html * {
  font-family: Athelas Regular, serif /*!important*/;
}

h1 {
  font-family: Athelas Bold;
  text-align-last: center;
}

p {
  font-size: 12pt;
  font-display: Athelas Regular, serif;
  align-items: center;
}

.ticks {
    font: 9px;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

#chartTitle {
    font-size: 12pt;
}

.d3-tip, .d3-tip:after {
    line-height: 1;
    pointer-events: none
}

.d3-tip {
    font-family: "Athelas Regular", serif;
    font-weight: 700;
    padding: 12px;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    border-radius: 2px
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    color: rgba(0, 0, 0, .8);
    position: absolute
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0;
    top: 100%;
    left: 0;
    text-align: center
}

.d3-tip.e:after {
    content: "\25C0";
    margin: -4px 0 0;
    top: 50%;
    left: -8px
}

.d3-tip.s:after {
    content: "\25B2";
    margin: 0 0 1px;
    top: -8px;
    left: 0;
    text-align: center
}

.d3-tip.w:after {
    content: "\25B6";
    margin: -4px 0 0 -1px;
    top: 50%;
    left: 100%
}
